body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

.app {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background: #111827;
  border-bottom: 1px solid #334155;
}

.navbar h1 {
  margin: 0;
  font-size: 2rem;
}

.navbar p {
  margin: 0.5rem 0 0;
  color: #94a3b8;
}

.navbar nav {
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: #cbd5e1;
  text-decoration: none;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.stats-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.stat-card {
  flex: 1;
  background: #1e293b;
  padding: 1.5rem;
  border-radius: 16px;
  text-align: center;
}

.stat-card p {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.book-card {
  background: #1e293b;
  padding: 1.2rem;
  border-radius: 16px;
  text-align: center;
}

.book-cover {
  width: 140px;
  height: 210px;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto 1rem auto;
  display: block;
}

.book-card {
  transition: all 0.2s ease;
}

.book-card h3 {
  min-height: 70px;
}

.book-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.status {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.Completed {
  background-color: #16a34a;
}

.Reading {
  background-color: #2563eb;
}

.To-Read {
  background-color: #f59e0b;
}